.container{
    display: flexbox;
    grid-template-columns: 50% 50%;
    background-color: white;
}

p {
   background-color:white;
}

.list {
  padding: 6px;
  cursor: pointer;
  border: 3px;
  border-style: solid;
  border-color: #221919;
  margin-bottom: 2px;
}

.list:hover{
    padding-left: 10px;
    background-color: lightgrey;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  margin-right: 5px;
  padding: 13px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.emptySpace {
    background-color: white;
}


